@media (min-width: 768px) {
    body {
        width: 100%;
        background: #fff;
    }

    .topBanner {
        background: url(images/desktop-header-bg.png) no-repeat;
        background-attachment: fixed;
        background-size: contain;
    }

    .topBannerDesc {
        width: 80%;
        min-height: 568px;
    }

}

@media (min-width: 320px) {
    * {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
    }

    .topBannerSocialIconsWrapper {
        gap: 10px;
    }
}